{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="widtd=device-width">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
	<link rel="icon" type="image/png"  href="{% static 'main/img/favicon-16x16.png' %}">
	<title>О компании</title>
</head><body class=body>
    <header class="header">
        <div class=intro>
			<a  href="{% url 'home' %}"><img  src="{% static 'main/img/logo1.png'%}"class="intro1"></a>
			<div class="section_text">Безопасность и связь 
          в надежных руках!
         </div>     
        </div>
        <ul class="menu">
  <li>
    <a href="{% url 'about' %}">Компания&bigtriangledown;</a>
    <ul>
     <li><a href="{% url 'about' %}">О компании</a></li>
      <li><a href="{% url 'news' %}">Новости</a></li>
      <li><a href="{% url 'licenses' %}">Лицензии и сертификаты</a></li>
	  <li><a href="{% url 'vakansii' %}">Вакансии</a></li>
      <li><a href="{% url 'requisites' %}">Реквизиты</a></li>
	  <li><a href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
  </li>
  <li>
    <a href="{% url 'realise' %}">Реализованные проекты</a>
  </li>
  <li><a href="{% url 'partners'%}">Наши партнёры</a></li>
  <li><a href="{% url 'projectsupplies' %}">Проектные поставки</a></li>
  <li><a href="{% url 'injsystem'%}">Инженерные системы</a></li>
</ul></header>
	<div class=osnova>
		<div class=zagal>О компании</div>
		  <div class=postavki><ul class=infod>В современном мире качество информации и скорость ее получения играют решающую роль в эффективности управления как государством так и бизнесом. Так же немаловажными факторами являются сохранность информации и снижение затрат на ее получение. Таким образом достоверность, скорость, стоимость и надежность – это те цели, которые преследует любое предприятие или учреждение при развитии своей IT-структуры. Компания ДВ.ком на высоком профессиональном уровне помогает своим заказчикам совершенствовать свою информационную инфраструктуру.

<br>Компания ДВ.ком позиционирует себя как системного интегратора – активно участвует в формировании стратегии развития информационной структуры заказчика, решает конкретные задачи заказчика – стандартные и нестандартные, стараясь найти различные варианты решений и аргументировать свои рекомендации.<br>

			  <br>За 17 лет работы в IT компания ДВ.ком наработала большой опыт и знания в следующих областях деятельности:<br>
		
			<br><li>Проектные решения, поставка и пуско-наладка сетевого оборудования, классических и IP – АТС, серверных систем и систем хранения данных, систем бесперебойного питания, инженерного печатного оборудования.</li>
		
			<li>Комплексное построение Центров Обработки Данных.</li>
		
			<li>Проектирование и монтаж Структурированных Кабельных Системы (СКС)</li>
		
			  <li>Проектирование и монтаж систем безопасности (видеонаблюдение и контроль доступа, охранная и пожарная сигнализация)</li>
		
			  <li>Проектирование и монтаж систем электроснабжения, включая чистое питание, бытовое питание, освещение.</li>
		
			  <li>Поставка и внедрение серверного программного обеспечения.</li>
		
			  <li>Сервис и техническая поддержка.</li>
		
			  </ul>
			 <div class="infox"><br>Разработке эффективных решений способствуют партнерские отношения компании ДВ.ком с <a class="Silka" href="{% url 'partners'%}">производителями оборудования</a>, которые являются мировыми лидерами в своей области. Партнерские отношения позволяют предоставлять на тестирование различное оборудование заинтерисованным организациям, получать техническую поддержку производителя в сложных проектах, гарантируют легальность поставляемого оборудования и дают возможность получения специальных цен и условий для наших заказчиков.<br>

<br>Мы обладаем большим ресурсом для реализации крупных проектов, имея в своем штате более 40 сотрудников, квалификации которых уделяется пристальное внимание. У нас работают сертифицированные специалисты по оборудованию Cisco (CCNA, CCDA), серверному оборудованию Fujitsu, серверному программному обеспечению VMWare и Microsoft, оборудованию телефонии Avaya, Alcatel, Nortel, Samsung, оборудованию бесперебойного питания APC, проектировщики и монтажники с сертификатами производителей кабельных систем AMP, Molex, Panduit.<br>

<br>Компания ДВ.ком лицензирована государством на осуществление деятельности по монтажу, ремонту и обслуживанию средств обеспечения пожарной безопасности зданий и сооружений МЧС России, на осуществление деятельности по распространению и техническому обслуживанию шифровальных (криптографических) средств ФСБ России. В январе 2010 года компания ДВ.ком вступила в СРО и получила допуски к работам по проектированию и строительству внутренних и внешних инженерных сетей и систем и монтажу технологического оборудования.<br>

<br>Компания ДВ.ком стремится выстраивать со своими заказчиками надежные и долгосрочные партнерские отношения. Мы учитываем в своей работе уникальность каждого предприятия, которое пользуется нашими услугами, особенности ожиданий заказчика от сотрудничества с нами и готовы идти навстречу! Среди наших постоянных клиентов крупные предприятия и организации: Ростсельмаш, Атлантис-ПАК, Роствертол, подразделения Лукойла, Эмпилс, Тавр, предприятия Юга-Руси, Новошахтинский завод нефтепродуктов, банки Юго-Западный банк СБ РФ, Внешторгбанк, ВТБ 24, АМИ-банк, страховые компании Панацея, Адмирал, AIG, ВУЗы ЮФУ и РГСУ, операторы связи Tele2, Транстелеком.<br>

<br>Опыт компании подтверждается реализацией различных <a class="Silka" href="{% url 'realise' %}">проектов</a></div>
	
		</div>
	</div>
		<div class=footer>
		<a href="{% url 'home' %}"><img src="{% static 'main/img/logo2.png'%}" class=logo2></a>
		 <a class =info>© 2009 ООО «ДВ.ком», Ростов-на-Дону, 344023, 
         ул. Страны Советов 19, этаж 6
          многоканальный телефон: +7 (863) 255-24-84</a>
		 
			<div class=info2>
				<a class="info3">
					Email:sales@dvcom.ru</a>
				<a class="info4" href="{% url 'contacts' %}">
					
					Cхема проезда
                 Контакты</a>
			</div>
		</div>
	</body>
	
	